In [50]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing 
from sklearn.externals import joblib

df = pd.read_excel('bankData.xlsx')
df.replace(r'^\s*$', np.nan, regex=True, inplace = True)
df = df.dropna()
df.isnull().sum()

# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in all columns
df['job']= label_encoder.fit_transform(df['job']) 
#df['job'].unique()
df['marital status ']= label_encoder.fit_transform(df['marital status ']) 
#df['marital status '].unique()
df['education']= label_encoder.fit_transform(df['education']) 
#df['education'].unique()
df['credit default?']= label_encoder.fit_transform(df['credit default?']) 
#df['credit default?'].unique()
df['housing loan?']= label_encoder.fit_transform(df['housing loan?']) 
#df['housing loan?'].unique()
df['Personal loan']= label_encoder.fit_transform(df['Personal loan']) 
#df['Personal loan'].unique()

X = df.drop(columns=['y'])
y = df['y']

#X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.4)

model = DecisionTreeClassifier()

model.fit(X,y)

joblib.dump(model,'bank_data.joblib')

In [13]:
df.head()

,age,job,marital status,education,credit default?,housing loan?,Personal loan,y
0,30,unemployed,married,primary,no,no,no,no
1,33,services,married,secondary,no,yes,yes,no
2,35,management,single,tertiary,no,yes,no,no
3,30,management,married,tertiary,no,yes,yes,no
4,59,blue-collar,married,secondary,no,yes,no,no

In [15]:
df.isnull().sum()

age                0
job                2
marital status     1
education          1
credit default?    1
housing loan?      2
Personal loan      2
y                  0
dtype: int64

In [7]:
df.isnull().sum()

age                0
job                2
marital status     1
education          1
credit default?    1
housing loan?      2
Personal loan      2
y                  0
dtype: int64

In [8]:
df.head()

,age,job,marital status,education,credit default?,housing loan?,Personal loan,y
0,30,unemployed,married,primary,no,no,no,no
1,33,services,married,secondary,no,yes,yes,no
2,35,management,single,tertiary,no,yes,no,no
3,30,management,married,tertiary,no,yes,yes,no
4,59,blue-collar,married,secondary,no,yes,no,no